<table class="table">
	<thead>
		<tr>
			<td>&nbsp;</td>
			<td ng-repeat="i in [0,1,2,3,4,5,6]">
				<div>{{ unix.dayName(today, i) }}</div>
				<div>{{ unix.date(today, i) }}</div>
				<div>{{ unix.add(today, i) }}</div>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="render in list.render">
			<td class="{{user.role(render)}}">
				<abbr title="{{user.start(render)}}">
					<div class="{{user.start(render)}}">
						{{user.IDfromName(user.name(render))}}
					</div>
					<div>{{render}}</div>
				</abbr>
			</td>
			<td ng-repeat="n in [0,1,2,3,4,5,6]" class="{{ data.class(render, today, n)}}">
				<abbr
				title="{{data.detail(render, today, n)}}"
				>
					<span>{{data.schedule(render, today, n)}}</span>
				</abbr>
			</td>
			<!--<td ">
				<abbr
				title="{{date['detail']}}&NewLine;Breaks at 4:30 and 10:30">
					{{ formatTime(date['time']) }}
					<div ng-show="detailEnable">
						{{date['detail']}}
					</div>
				</abbr>
			</td>-->
		</tr>
	</tbody>
</div>