dist

node_modules/*
!node_modules/clicksend

!node_modules/shiftswap
node_modules/shiftswap/apikey.txt
node_modules/shiftswap/mock/users.json
node_modules/shiftswap/mock/*.txtz

ftpsync.settings
desktop.ini