{% extends "template/standard.html" %}

{% block title %}Graphic Design + Assets{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../css/graphic-design.css">
{% endblock %}
{% block content %}
    <section class="container">
        <h1>Graphic Design + Assets</h1>
        <h2>Color Palette</h2>

        <div class="row">
            <div class="col-sm-4">
                <h3>Main</h3>
                <p>peachpuff, tomato, maroon, indigo, #333</p>
                <div id="palette-main" class="palette-display">
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                </div>
            </div>

            <div class="col-sm-4">
                <h3>Greys</h3>
                <p>ghostwhite, silver, #877, #544, #333</p>
                <div id="palette-grey" class="palette-display">
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>

        <h3>Fades</h3>
        <p></p>
        <div id="palette-fade" class="palette-large">
            <div>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
            </div>
            <div>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
            </div>
            <div>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
            </div>
            <div>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
            </div>
            <div>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
            </div>
        </div>

        
        <div id="palette-yelorg" class="palette-display">
            
        </div>

        <h2>Logos</h2>

        <h2>Taglines</h2>
        <ul>
            <li>Shift trading, schedule calendar, and news for Cinemark #348</li>
            <li>Makes trading shifts easier for Cinemark employees</li>
            <li>Swap your shift, keep your sanity</li>
        </ul>
    </section>
{% endblock %}

{% block script %}
    
{% endblock %}

