{% extends "template/standard.html" %}

{% block title %}Orientation{% endblock %}

{% block head %}
    
{% endblock %}
{% block content %}
    <section class="container">
        <h2>
            <span>Orientation</span>
            <small>Website Administrator</small>
        </h2>
        

    </section>
    <section class="container">
        <h2>
            <span>Orientation</span>
            <small>Theatre General Manager</small>
        </h2>

    </section>
    <section class="container">
        <h2>
            <span>Orientation</span>
            <small>Managers</small>
        </h2>

    </section>
{% endblock %}

{% block script %}
    
{% endblock %}

