{% extends "template/standard.html" %}

{% block title %}Sitemap{% endblock %}

{% block head %}
	<link rel="stylesheet" href="css/site-map.css">
{% endblock %}
{% block content %}
	<section class="container">
		<h1>Sitemap</h1>
		<div id="sort-by">
			<ol class="nav nav-pills">
			<li><a href="">Sort by:</a></li>
				<li role="presentation" ng-class="{active: timespan==1}" ng-click="timespan=1"><a href>
				Category
				</a></li>
				<li role="presentation" ng-class="{active: timespan==2}" ng-click="timespan=2"><a href>
				A to Z
				</a></li>
			</ol>
		</div>


		<div class="row">
			<div class="col-sm-3">
				<h2>Schedule</h2>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="whats-this.html">
						<div>What's this?</div>
						<small>how Shiftswap works</small>
					</a></li>
					<li><a href="stats.html">Statistics</a></li>
					<li><a href="">Tour</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h2>Forms</h2>
				<ul>
					<li><a href="sign-up.html">
						<div>Sign-up</div>
						<small>new users</small>
					</a></li>
					<li><a href="">Change user settings</a></li>
					<li><a href="stats-form.html">Change user info &amp; statistics</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h2>Panel</h2>
				<ul>
					<li><a href="">Manager panel</a></li>
					<li><a href="panel-admin.html">Admin panel</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<h2>More Pages</h2>
				<ul>
					<li><a href="news.html">News</a></li>
					<li><a href="starbucks.html">Starbucks</a></li>
					<li><a href="movies.html">Movies</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h2>Website</h2>
				<ul>
					<li><a href="site-map.html">Site map</a></li>
					<li><a href="about.html">
						<div>About</div>
						<small>How the site was made, its goals</small>
					</a></li>
					<li><a href="about.html">
						<div>Orientation<div>
						<small>how to use Shiftswap for admin, gm, managers</small>
					</a></li>
					<li><a href="costs.html">Costs</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="">Announcement</a></li>
					<li><a href="graphic-design.html">Graphic design and assets</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<h2>Developers</h2>
				<ul>
					<li><a href="develop.html">
						<div>Getting started</div>
						<small>Setting up Shiftswap for programmers</small>
					</a></li>
					<li><a href="api.html">API</a></li>
					<li><a href="">GitHub</a></li>
					<li><a href="">Changelog</a></li>
					<li><a href="">UX</a></li>
					<li><a href="clicksend-api-and-node.html">Clicksend API and node.js</a></li>
					<li><a href="working-with-kronos-wfc-api.html">Working with the Kronos API</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h2>Legal</h2>
				<ul>
					<li><a href="policy.html">Private policy</a></li>
					<li><a href="">Content use</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h2>Misc</h2>
				<ul>
					<li><a href="robots.txt">robots.txt</a></li>
				</ul>
			</div>
		</div>


		

	</section>
{% endblock %}

{% block script %}
	
{% endblock %}

